<!doctype html>
<html lang="en"> 
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/css/style.css" />
</head>
<body ng-app="tinderApp"> 
	<div ng-controller="CardStackController as csCntrl">
	<td-card ng-repeat= "card in csCntrl.cards" data="card"  on-remove="csCntrl.onRemove($index,choice)"> </td-card>
	
	<div class="card" ng-if="csCntrl.cards.length==0" ng-click="csCntrl.getCards()">
		Continue?
	</div>
	<div class="overlay" ng-if="csCntrl.match.show" ng-click="csCntrl.hideMatch()">
	<span>Seems You liked {{csCntrl.match.name}}</span>
	</div>
    </div>
 
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.4/hammer.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/cardStack/cardStack.controller.js"></script>
    <script src="static/cardStack/cardStack.service.js"></script>
    <script src="static/card/card.directive.js"></script>
    <script>
</body>

</html>