<div class="card" hm-panmove="onHammer">
  <div class="card-img">
    <span class="card-img-like" ng-show="data.like">LIKE</span>
    <span class="card-img-nope"  ng-show="data.nope">NOPE</span>
    <img ng-src="{{data.image}}">
  </div>
  <div class="card-info">
    <div class="left" >
      <strong>{{data.name}},</strong>&nbsp;
      <span class="card-age">{{data.age}}</span>
    </div>
    <div class="right">
      <span ng-class="{'active': (data.friends > 0)}">
        <i class="fa fa-users"></i>{{data.friends}}
      </span>&nbsp;
      <span ng-class="{'active': (data.interests > 0)}">
        <i class="fa fa-bookmark"></i> {{data.interests}}
      </span>
    </div>
  </div>
 </div>