body{
	overflow: hidden;
}
.card{
	overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    margin: 0 auto;
    width: 375px;
    border: 1px solid #B5B5B5;
    box-shadow: 1px 1px 1px #DCDCDC;
    border-radius: 10px;
    background:white
}
.card {
  transition: all .2s;
}
.card-img span {
  z-index: 1000;
  position: absolute;
  top: 50px;
  width: 100px;
  padding: 5px;
  border: 5px solid;
  border-radius: 10px;
  font-size: 2em;
  letter-spacing: 2px;
  text-align: center;
  font-weight: bold;
}
img{
	width:375px;
}
.card-img-like {
  left: 30px;
  color: green;
  transform: rotate(-45deg);
}
.card-img-nope{
  left: 250px;
  color: red;
  transform: rotate(45deg);
}
.card-info {
  background-color: white;
  padding: 18px;
  font-size: 14px;
  color: #615F5F;
}

.left{
	float:left;
	margin-top: -8px;
}

.right{
	float:right;
	color: #E0E0E0;
	margin-top: -8px;
}

.active{
	color: #F37268;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.9;
  opacity: 0.9;    

}

.overlay span {
    padding: 40px;
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    position:relative;
    top:50%;
}
@media (max-width: 997px) {
	body{
    position: fixed;
}
}